<!doctype html>
<title>Melhores aões</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
<h1>Melhores Ações</h1>

<form method="post">
<select id="setor" name="setor">
  <option value="" selected=""></option>
  <option value="1">Agropecuária</option>
  <option value="2">Água e Saneamento</option>
  <option value="3">Alimentos Processados</option>
  <option value="5">Automóveis e Motocicletas</option>
  <option value="6">Bebidas</option>
  <option value="7">Comércio</option>
  <option value="8">Comércio e Distribuição</option>
  <option value="9">Computadores e Equipamentos</option>
  <option value="10">Construção Civil</option>
  <option value="11">Construção e Engenharia</option>
  <option value="12">Diversos</option>
  <option value="13">Embalagens</option>
  <option value="14">Energia Elétrica</option>
  <option value="15">Equipamentos</option>
  <option value="16">Exploração de Imóveis</option>
  <option value="17">Gás</option>
  <option value="18">Holdings Diversificadas</option>
  <option value="19">Hoteis e Restaurantes</option>
  <option value="20">Intermediários Financeiros</option>
  <option value="21">Madeira e Papel</option>
  <option value="22">Máquinas e Equipamentos</option>
  <option value="23">Materiais Diversos</option>
  <option value="24">Material de Transporte</option>
  <option value="25">Medicamentos e Outros Produtos</option>
  <option value="26">Mídia</option>
  <option value="27">Mineração</option>
  <option value="28">Outros</option>
  <option value="29">Outros Títulos</option>
  <option value="30">Petróleo, Gás e Biocombustíveis</option>
  <option value="31">Previdência e Seguros</option>
  <option value="32">Produtos de Uso Pessoal e de Limpeza</option>
  <option value="33">Programas e Serviços</option>
  <option value="34">Químicos</option>
  <option value="35">Securitizadoras de Recebíveis</option>
  <option value="4">Serv.Méd.Hospit. Análises e Diagnósticos</option>
  <option value="36">Serviços Diversos</option>
  <option value="37">Serviços Financeiros Diversos</option>
  <option value="38">Siderurgia e Metalurgia</option>
  <option value="39">Tecidos, Vestuário e Calçados</option>
  <option value="40">Telecomunicações</option>
  <option value="41">Transporte</option>
  <option value="42">Utilidades Domésticas</option>
  <option value="43">Viagens e Lazer</option>
  </select>
  <input type="submit" value="Submit">
</form> 

<body>

</body>  
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
</div>

